@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('./reset.css');



/* 사용자정의 CSS */

/* logo */
h1 {
	width: 292px;
	height: 52px;
	position: fixed;
	top: 80px;
	left: 10px;
	z-index: 10;
}

h1 img { 
	width: 292px;
	height: 52px;
}

/* menu */
#menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu li { 
	float: left;
	margin: 10px 20px;
	position: relative;
	text-align: center;
	border-radius: 2px;
	font-weight: 700;
}
#menu li::before{
	content: '';
	display: block;
	width: 0px;
	height: 4px;
	background:  #1ec8fb;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all .5s ease-in-out;
}

#menu li.active {
 color:  #1ec8fb;
}

#menu li:hover::before{
width: 100%;
}

#menu li a {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.333rem;
	text-decoration:none;
	padding: 9px 0px;	
	color: #1986ec;
}

#menu li.active a:hover {
	color:  #1ec8fb;
}

#menu li.active a {
	color:  #1ec8fb;
}


/* section의 background image 관련 속성을 설정한다 */
#section1, #section3, #section4, #section5, #section6,#section7{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}

/* 
section의 background image 지정 
배경이미지를 지정하지 않으면, custom.js 에서 지정한 배경색상이 설정된다
*/
#section1{ background: url(../images/alone.jpg) 50% 50% no-repeat;
background-size: cover; } 
#section2 { background-color: #f8f8f8; }
#section3 { background: url(../images/pcback.png) 50% 50% no-repeat;  background-size: cover; }
#section4 { background-color: #f8f8f8; }
#section5 {background: url(../images/mediaback.png) 50% 50% no-repeat; background-size: cover; }
#section6 { background: url(../images/bootback.png) 50% 50% no-repeat; background-size: cover;}
#section7 { background: url(../images/wordback.png) 50% 50% no-repeat; background-size: cover; }  

/* home */
.section .home p{
	font-size: 3.5em;
	letter-spacing: 2px;
	color: #f8f8f8;
    text-align: center;
}
.section .home p strong{
    background: linear-gradient(to bottom, transparent 50%, #4867e8d9 50%) 0 -7px;
}	
#section1 a.scroll_down{
	position:absolute; left: 50%; bottom: 70px; font-size:20px; 
	transform: translateX(-50%);
	font-style:italic; color:#fff; 
	/* writing-mode: vertical-rl;  */
	z-index: 3;}
#section1 a.scroll_down i{display:inline-block; padding:0px 10px; animation:scroll_down infinite .7s linear;}

@keyframes scroll_down {
    0%{transform:translateY(0); opacity: 1;}
    100%{transform:translateY(10px); opacity: 0;}
}

/* profile */
.section .profile{height: 100%;}
.profile .photo{
	background: url(../images/A9_04363.jpg) 50% 50% no-repeat; 
	width: 30%; 
	height: 70%; 
	background-size: cover; 
	border-radius: 40% 30% 40% 30% / 45% 70% 45% 70%;
	position: relative;
	left: 10.5%;
	top: 15%;
	transform: translateX(-10.5%);
}
.profile .text{position: absolute;top: 50%; right: 10%; transform: translateY(-50%);text-align: justify; width: 45%;}
.profile .name{
	position: relative;
	display: inline-block;
	font-size: 2.5em; font-weight: 500;
	color: #333; padding-bottom: 20px;}
.profile .name::before{
	content: '정호석';
	display: block;
	font-size: 1.3rem;
	position: absolute;
	right: -20%;
	top: -10%;
	transform: translate(20%, 10%);
}
.profile .name::after{
	content: '';
	display: block;
	background:#1068c2;
	position: absolute;
	left: 0%;
	bottom: 25%;
	width: 0px;
	height: 3px;
	z-index: -1;
	animation-name: move;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.profile .name:hover{
	color: #1068c2;
	transition: color .5s ease-in-out;
}
@keyframes move{
	0% {
		left: 0;
		width: 0%;
	}
	50% {
		left: 50%;
		width: 50%;
	}
	100%{
		left: 100%;
		width: 0%;
	}
}
.profile .text dl{
	margin-bottom: 10px;
	padding: 25px 15px 10px;
	border-top: 1px dashed #ccc;
}
.profile .text dl dt i{padding-right: 20px;}
.profile .text dl dt {font-size: 1.2em; margin-bottom: 5px; font-weight: 500; line-height: 1.2em;}
.profile .text dl dd {font-size: 1em; padding: 5px 20px; line-height: 2em; font-weight: 400;}
.profile .text dl:hover dt i,
.profile .text dl:hover dt
{
	color: rgba(255, 0, 0, 0.7);
	transition: all .5s ease-in-out;
	font-weight: 700;
}

.profile .text .skill{display: flex; justify-content: space-evenly; text-align: center; flex-wrap: wrap; align-items: center; gap: 5px;}
.profile .text .skill img{width: 50px;}
.profile .popol{
	padding-top: 25px;
	margin-top: 25px;
	border-top: 1px dashed #ccc;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.profile .popol li{
	position: relative; 
	width: calc(33.33% - 4px); 
	padding: 0 1.43rem;
}
.profile .popol li a{
	border: 3px dashed #333; 
	text-align: center; 
	font-size: 1em;
	padding: 10px 0;
	line-height: 2.8rem;
	font-weight: 500;
	color: #333;
	transition: all .8s ease-in-out;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
} 
.profile .popol li a i{
	/* padding-left:20px;  */
	font-size: 40px;
}
.profile .popol li:hover a{
	background: #333;
	backdrop-filter: .8; 
	border-radius: 40px;
	color: #fff;
	/* transition: all .8s ease-in-out; */
}


/* 공통 */
.webpc,
.webmobile,
.webmedia,
.webboot,
.word{
	display: flex;
  align-items: center;
  justify-content: space-around;
 
}
.webpc .left,
.webmobile .left,
.webmedia .left,
.webboot .left,
.word .left{ 
	text-align: center;
	position: relative;
	top: 50%;
	margin-left: 200px;
	width: 50%;
	}

.webmedia .left img,
.webboot .left img,
.word .left img{width: 650px;}

.webpc .right,
.webmobile .right,
.webmedia .right,
.webboot .right,
.word .right{ 
	/* margin-left: 56px; */
	width: 50%;
color: #fff;}

.webpc .right .info,
.webmobile .right .info,
.webmedia .right .info,
.webboot .right .info,
.word .right .info{margin-bottom: 15px;}

.webpc .right .title,
.webmobile .right .title,
.webmedia .right .title,
.webboot .right .title,
.word .right .title{font-size: 3em; font-weight: 700; font-style: italic; }

.webpc .right .title span,
.webmobile .right .title span,
.webmedia .right .title span,
.webboot .right .title span,
.word .right .title span{
	font-size: 1.1rem; margin-left: 20px;
	background: linear-gradient(to bottom, transparent 50%, #4867e8d9 50%) 0 -7px;}

.webpc .right p,
.webmobile .right p,
.webmedia .right p,
.webboot .right p,
.word .right p{font-size: 1.1rem; font-weight: 500; padding: 5px 0;}

.webpc .right dl,
.webmobile .right dl,
.webmedia .right dl,
.webboot .right dl,
.word .right dl{   
	width: fit-content;
	margin-bottom: 15px;
}

.webpc .right dt,
.webmobile .right dt,
.webmedia .right dt,
.webboot .right dt,
.word .right dt{font-weight: 700; font-size: 1.3rem;}

.webpc .right .colors dd,
.webmobile .right .colors dd,
.webmedia .right .colors dd,
.webboot .right .colors dd,
.word .right .colors dd{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: 4px 16px 0 0;
	display: inline-block;
	background: #03509f;
	border: 1px solid #03509f;}

.webpc .right ul,
.webmobile .right ul,
.webmedia .right ul,
.webboot .right ul,
.word .right ul{display: flex; width: 60%;flex-wrap: wrap;}

.webpc .right ul li,
.webmobile .right ul li,
.webmedia .right ul li,
.webboot .right ul li,
.word .right ul li{width: 11%; margin-bottom: 20px; text-align: center; padding-top: 2%;}

.webpc .right ul li img,
.webmobile .right ul li img,
.webmedia .right ul li img,
.webboot .right ul li img,
.word .right ul li img{
	width: 70%;
	background-color: #fff;
	border-radius: 100%;}

.section div .more{
	display: inline-block;
	font-weight: 700;
	font-size: 1em;
	padding: 12px 50px 11px;
	background: #fff;
	border-radius: 100px;
	border: 1px solid #1979bd;
	color: #1979bd;
	margin-top: 24px;
	transition: all .5s;}

.section a:hover.more{background: #1979bd; color: #fff;}
.section div .qr{
	width: 80px;
 	margin: 10px 0 0 50px;
}

/* pc */
.webpc .left .gif{position: absolute; top: 24px;
	left: 50%; transform: translateX(-50%); 
	width: 597px;
}
.webpc .right .colors .color2{
	background: #fff;
	border: 1px solid #ececec;}
.webpc .right .colors .color3{
	background: #333;
	border: 1px solid #333;}

/* mobile */
.webmobile .left .gif{max-width: 400px;}
.webmobile .right{color: #333;}
.webmobile .right .colors .color2{
	background: #fff;
	border: 1px solid #ececec;}
.webmobile .right .colors .color3{
	background: #333;
	border: 1px solid #333;}
.webmobile a.more{left: 35%; bottom: 18%; }


/* media */
.webmedia a.more{
	color: #95d5f5;
	border: 1px solid #95d5f5;}
.webmedia a:hover.more{background: #95d5f5;}
.webmedia .right .colors dd{
	background: #95d5f5;
	border: 1px solid #95d5f5;}
.webmedia .right .colors .color2{
	background: #000;
	border: 1px solid #000;}
.webmedia .right .colors .color3{
	background: #fff;
	border: 1px solid #ececec;}


	/* bootstrap */
	.webboot a.more{
		color: #337ab7;
		border: 1px solid #337ab7;}
	.webboot a:hover.more{background: #337ab7;}
	.webboot .right .colors dd{
		background: #fff;
		border: 1px solid #ececec;}
	.webboot .right .colors .color2{
		background: #337ab7;
		border: 1px solid #337ab7;}
	
		
	/* wordpress */
	.word a.more{
		color: #cc0033;
		border: 1px solid #cc0033;}
	.word a:hover.more{background: #cc0033;}
	.word .right .colors dd{
		background: #cc0033;
		border: 1px solid #cc0033;}
	.word .right .colors .color2{
		background: #666666;
		border: 1px solid #666666;}
	.word .right .colors .color3{
		background: #fff;
		border: 1px solid #ececec;}
	.word .right .colors .color4{
		background: #000;
		border: 1px solid #000;}









		
	
